version: "3.9"

services:
  server:
    build: ./server
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000

  client:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - server
